:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 5px;
  font-size: 3.2em;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: bolder;
}

h2{
  margin-bottom: 10px;
}

table,
th,
td {
  border: 1px solid;
}

th {
  font-size: 30px;
}

th,
td {
  padding: 10px 50px;
}

table {
  border-collapse: collapse;
}

label {
  font-weight: bold;
  position: relative;
  top: 3px;
}

input {
  margin: 20px 50px 30px 5px;
  width: 270px;
  font-size: 20px;
}

button {
  background-color: rgb(26, 94, 18);
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
}

.td_delete {
  height: 51px;
  display: flex;
  padding: 0px 10px 0px 10px;
  justify-content: center;
}